{% extends 'base.html' %}
{% block title %}Pesquisar Produtos {% endblock title %}

{% block content %}

   <div class="container">       
      <div class="row">
         
            <div class="col-md-12">
                  <h3>Resultado da Pesquisa <span class="text-success">{{request.GET.keyword}}</span></h3>
                  <hr>
                  {% for result in results %}
                        <div class="row">
                              <div class="col-md-4">
                                    <img src="{{result.image.url}}" class="img-fluid" alt="">
                              </div>

                              <div class="col-md-8">
                                    <h4><a href="{% url 'estoque:produtoDetalhe' result.slug %}"> {{result.titulo}}</a></h4>
                                    <p>{{result.descricao|truncatewords:50}}</p>
                                    <a href="{% url 'estoque:addcarro' result.id %}" class="btn btn-success">Comprar</a>
                              </div>                              
                        </div>
                  {% endfor %}
            </div>         
      </div>   
   </div>
  

{% endblock %}