{% extends 'base.html' %}
{% block title %}Produto {% endblock title %}

{% block content %}

    <div class="container">
        <h4>Produto: {{produto.titulo}}</h4>
        <div class="row">
            <div class="col-md-6">
                <img src="{{produto.image.url}}" alt="" class="img-fluid" width="350px">
            </div>
            <div class="col-md-6 text-left">
                <h3>{{produto.titulo}} Visualizacao: {{produto.visualizacao}}</h3>
                <h4>Categoria: {{produto.categoria}}</h4>
                <h5>Preco: R$ .{{produto.venda}}</h5>
                <a href="{% url 'estoque:addcarro' produto.id %}" class="btn btn-success">Comprar</a>
                <a href="" class="btn btn-success">Comprar</a><hr>
                <p class="text-success">{{produto.descricao}}</p>
            </div>
        </div>
    </div>
   
{% endblock %}